.parent {
  @apply m-8 mt-0 bg-slate-700 shadow-xl rounded-sm overflow-hidden;

  .heading {
    @apply text-xl font-bold text-center text-white mt-6 mb-8;
  }

  input {
    @apply block w-full max-w-md mx-auto bg-white bg-opacity-60 border-r-2 border-transparent py-3 px-4 focus:border-slate-400 placeholder:text-slate-300;
  }

  .button {
    @apply my-10 bg-green-500 bg-opacity-60 block mx-auto py-3 px-16 rounded-xl hover:bg-orange-600 transition-all animate-bounce md:bg-purple-500 dark:bg-red-500;
  }
}
